@import '../variables';

.categories {
  
  @media (max-width:$mobile){
    overflow: auto;
    margin: rem(0) rem(-15);
    padding-right: rem(15);
    padding-left: rem(15);
    padding-bottom: rem(14);
  }

  ul {
    display: flex;
    align-items: center;
    gap: rem(10);

    li {
      background-color: #787878;
      padding: 10px 20px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#787878, 2%);
      }

      &:active {
        background-color: darken(#787878, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
