@import '../variables';

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    li {
      background-color: #787878;
      padding: 10px 20px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#787878, 2%);
      }

      &:active {
        background-color: darken(#787878, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
