@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__logo {
    display: flex;
    transition: transform 0.3s ease 0s;
    img {
      margin-right: 15px;
      transition: transform 0.3s ease 0s;
    }

    h1 {
      color: #ffffff;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #cfcfcf;
    }
    @media (any-hover: hover){
      &:hover{
        img {
          transform: translate(0px,-4px);
        }
      }
    }
  }

}
