@import '../variables';

.header {
  border-bottom: rem(1) solid $gray-line;
  padding: rem(40) 0;

  &__container {
    gap: rem(20);
    @media (min-width: em(670)) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    @media (max-width: em(670)){
      display: grid;
    }
  }

  &__logo {
    display: flex;
    transition: transform 0.3s ease 0s;
    img {
      width: rem(40);
      height: 100%;
      margin-right: rem(15);
      transition: transform 0.3s ease 0s;
    }

    h1 {
      color: #ffffff;
      font-size: rem(24);
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #cfcfcf;
    }
    @media (any-hover: hover) {
      &:hover {
        img {
          transform: translate(0px, rem(-2));
        }
      }
    }
  }
}
