.items {
  width: 280px;
  text-align: center;
}
.image {
  width: 260px;
  transition: transform 0.3s ease 0s;
  cursor: pointer;
  @media (any-hover: hover){
    &:hover{
      transform: translate(0px,-5px);
    }
  }
}

.title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  margin-bottom: 20px;
}

.selector {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;


  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {

      padding: 8px;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;

      &.active  {
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        cursor: auto;
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}
