@import './variables';
@import './libs/normalize';

@import './components/all';

body {
  background: linear-gradient(rgba(36, 36, 36, 0.7), rgba(0, 0, 0, 0.8)), url(../assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.wrapper {
  z-index: 2;
  height: 100%;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1440px;
  background: linear-gradient(rgba(36, 36, 36, 0.7), rgba(0, 0, 0, 0.8)),
    url(../assets/img/bg-prod.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  @media (max-width: 1440px) {
    margin: 0 auto;
    border-radius: 0px;
  }
}

.content {
  padding: 40px 0;
  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  &__title {
    margin: 35px 0;
  }
  &__error-info {
    text-align: center;
    margin: 60px auto;
    h2 {
      font-weight: 700;
      font-size: 30px;
    }
    p {
      font-size: 26px;
    }
  }
  &__items {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
  }
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .content__items {
    display: block;
  }
  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: $wite;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all 0.3s ease 0s;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;

    @media (max-width: 576.98px) {
    }
    &-img {
      display: flex;
      align-items: center;
      @media (max-width: 991.98px) {
        grid-row: 1 / 3;
      }
      @media (max-width: 576.98px) {
        grid-row: 1 / 2;
      }
      img {
        width: 80px;
        height: 80px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      @media (max-width: 991.98px) {
        grid-row: 1 / 3;
      }
      @media (max-width: 576.98px) {
        grid-row: 1 / 2;
      }
      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      @media (max-width: 991.98px) {
        justify-content: center;
      }
      @media (max-width: 576.98px) {
        justify-content: flex-start;
      }
      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }
        &:disabled {
          opacity: 0.4;
          pointer-events:none;
        }
      }

      b {
        font-size: 22px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (max-width: 991.98px) {
        grid-area: 2/3;
        justify-content: center;
      }
      @media (max-width: 576.98px) {
        grid-area: 3;
        grid-row: 2 ;
        justify-content: flex-start;
      }
      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (max-width: 991.98px) {
        grid-row: 1 / 3;
      }
      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        
        transform: rotate(45deg);

        path {
          
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        transition: background-color 0.2s ease 0s;
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-between;


      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      gap: 20px;
      flex-wrap: wrap-reverse;
      justify-content: space-between;
      margin-top: 40px;
      


      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        
        border-color: darken($color: $gray-line, $amount: 10);
        @media (max-width: 488.98px) {
          width: 100%;
        }

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
          
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);
          border: 1px solid rgb(255, 255, 255);

          span {
            color: $gray-line;
          }
        }

        svg {
          transition: transform 0.3s ease 0s;
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }

        }
        @media (any-hover: hover){
          &:hover{
            svg{
              transform: translate(-6px,0px);
            }
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
        @media (max-width: 488.98px) {
          width: 100%;
        }
      }
    }
  }

  &--empty {
    margin: 80px auto;
    text-align: center;
    @media (max-width: 700px){
      margin: 20px auto;
    }

    h2 {
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 10px;
      line-height: 2;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #e6e6e6;
    }

    span {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
